body{
	background-color: #f5f2f0;
}
li{
	height: 40px;
}
nav{
	height: 40px;
}
.navbar{
	min-height: 40px;
	border-radius: 0;
	box-shadow: 6px 6px 15px #888888;
}
.navbar-nav{
	margin: 0;
}
.navbar-header{
	height: 40px;
}
.navbar-brand{
	height: 40px;
	line-height: 15px;
}
.navbar-toggle{
	padding: 0;
	margin: 0;
	height: 40px;
}
nav i.material-icons{
	height: 40px;
	line-height: 40px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin:0;
}
div#myNavbar.navbar-collapse.collapse.in{
	height: 40px;
	background-color: #00bcd4 !important;
}
.chip{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(228, 228, 228, 0);
	border-left: 1px solid rgba(238, 238, 238, 0.28);
	border-radius: 0;
	height: 40px;
	line-height: 3;
	display: block;
	cursor: pointer;
}
.chip>img{
	float:right;
	margin: 3px 0 0 2px;
}
.displaytype{
	display: flex;
	padding: 0 10px;
	cursor: pointer;
	border-left: 1px solid rgba(238, 238, 238, 0.28);
	height: 40px;
}
nav .input-field{
	line-height: 1;
}

.head{
	display: flex;
}
.headcon{
	padding: 0 10px; 
	border-right: 1px solid rgba(238, 238, 238, 0.28);
	cursor: pointer;
}
nav .button-collapse{
	margin: 0;
}
.input-field label:not(.label-icon).active{
    -webkit-transform: translateY(0) scale(0.8);
    transform: translateY(0) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.input-field label{
	color: white;
}
#drop{
	box-shadow: 6px 6px 15px #888888;
}
.navmenu{
	height: 180px;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
	margin: 0 10px 0 0;
}
.side-nav li>a{
	text-decoration: none;
}
a:focus, a:hover{
	color: #ffffff;
}
.user-view{
	height: 180px;
}
.hov:hover{
	background-color: #585656;
}
.row {
    margin: 0 4%;
    margin-bottom: 40px;
}
.card .card-action:last-child{
	display: flex;
}
p{
	    margin: 0 5px 10px;
}
.num {
    border-radius: 100%;
    background-color: #f5f2f0;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -60px;
    text-align: center;
    line-height: 3.5;
	box-shadow: -2px 4px 10px #888888;
}
.card{
	margin-top: 20px;
	width: 350px;
	box-shadow: 6px 6px 15px #888888;
}
.card .card-content{
	padding: 10px;
}
.card .card-content .card-title{
	display: initial;
}
.card .card-content p{
	margin: 0;
    color: inherit;
    display: flex;
    font-size: small;
}
.compare{
	width: 170px;
	line-height: 2.2;
}
.btn-floating.halfway-fab{
	position: absolute;
    right: 10px;
    top: 10px;
	box-shadow: -2px 4px 10px #888888;
	z-index: inherit;

}
.btn-floating i{
	background-color: rgb(194, 194, 194);
}
.chart-container{
	background-color: white;
	box-shadow: 6px 6px 15px #888888;
	width: 80%;
	height: 800px;
	margin: 0 3.5%;
}
.header{
	padding-top: 5px;
	padding-left: 15px;
}
.chart-view{
	display: flex;
	float: right;
	margin-top: -45px;
}
canvas#lineChart1{
	display: block;
    height: 350px;
    width: 1638px;
}
.labyr{
	line-height: 2.5;
	height: 30px;
}
select.browser-default{
	width: 68px;
	height: 30px
}
.SMEDetails{
	background-color: white;
	box-shadow: 6px 6px 15px #888888;
	margin: 4%;
	width: 90%;
}
